.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.socialIcon {
  color: rgb(168, 171, 176);
  margin: 0 2rem;
  font-size: 2rem;
}

.socialIcon:hover {
  color: rgb(83, 84, 87);
}
