@import '~normalize.css';
body {
  background-color: #f4f5f7;
  color: rgb(83, 84, 87);
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
}
